@font-face {
  font-family:'Planet Kosmos';
  src: url('../fonts/Planet-Kosmos.ttf') format('truetype');
}

body {
	font-family: 'Planet Kosmos';
	font-size: 18px;
	text-align: center;
	color: white;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+34,3f3f3f+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 40%, #3f3f3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#000000), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 40%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 40%,#3f3f3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 40%,#3f3f3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 40%,#3f3f3f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}

h1 {
	font-size: 60px;
	margin-top: 30px;
	margin-bottom: 5px;
    letter-spacing: 5px;
}

h2 {
	font-size: 22px;
	margin-top: -25px;
    letter-spacing: 3px;
}

#screen {
    position: relative;
    width: 1218px;
    height: 586px;
    margin: 0 auto;
}

#game-screen {
    position: absolute;
    display: block;
    top: 65px;
    left: 94px;
    background: black;
    width: 1030px;
    height: 439px;
    opacity: 0;
    transition: opacity 2s ease-in;
}

#gamepad {
    position: relative;
	margin-top: -200px;
	transition: margin-top 600ms ease-in-out;
}

#gamepad.out {
	margin-top: -50px;
}
