@font-face {
  font-family:'Quicksand';
  src: url('../fonts/Quicksand-Regular-Fix.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family:'Quicksand';
  src: url('../fonts/Quicksand-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family:'Quicksand';
  src: url('../fonts/Quicksand-Bold-Fix.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family:'Quicksand';
  src: url('../fonts/Quicksand-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-RegularItalic.ttf') format('truetype');
  font-style: italic;
}

html {
    font-size: 12px;
}

body {
	position: relative;
	background: url('../images/background.png');
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2rem;
}

.editor-content {
    background: white !important;
}

img, iframe, input, textarea {
    max-width: 100%;
}

.item, .item-leading {
    font-weight: bold;
}

.item b, .item-leading b, .item strong, .item-leading strong {
    font-weight: normal;
}

h1,h2,h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

a {
	color: #8b3434;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #c43636;
}

.nav-pills {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
	color: #c43636;
    background-color: transparent;
    border-radius: 0;
}

.nav-pills>li.active>a:focus, .nav-pills>li>a:focus {
    background-color: transparent;
}

.nav-pills > ul::-webkit-scrollbar {
    display: none;
}

.nav-pills > li {
    padding-right: 30px;
    white-space: nowrap;
}

.nav-pills > li > a {
	padding: 5px 2px 15px 1px;
}

.main-column-wrapper {
	width: 1260px;
	margin: 0 auto;
}

.main-column {
	width: 970px;
	margin-left: 6px;
}

.header .quote-wrapper {
	float: right;
	height: 100px;
	line-height: 100px;
	position: relative;
	display: block;
}

.header .quote {
	color: white;
	white-space: nowrap;
	vertical-align: bottom;
	line-height: 30px;
	font-size: 12px;
	font-family: 'Quicksand';
    font-style: italic;
}

hr {
    margin: 6rem auto;
	height: 1px;
    box-shadow: 0 0 2px 1px rgba(51, 161, 217, 0.51);
    width: 75%;
    clear: both;
    display: block;
    border: none;
}

hr.top-border {
    margin: 0;
    height: 0;
	width: 100%;
	position: absolute;
    box-shadow: 0 0 2px 2px #33a1d9;
	top: 1px;
}

.vertical-separator {
    width: 0px;
    bottom: 0;
    height: 100%;
    float: left;
    box-shadow: 0 0 2px 1px rgba(51, 161, 217, 0.51);
    padding: 0;
    margin: 0;
    border: 0;
}

.body {
	position: relative;
	background-color: #eff1f5;
	padding: 0;
	top: -3px;
}

.main {
	background: #eff1f5;
	padding: 0.6rem 15px 6rem 15px;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.9);
}

.logo-left {
	float: left;
}

.logo-right {
	float: right;
}

.header {
	position: relative;
	width: 100%;
	background: url('../images/banner-background.png') top repeat-x;
	z-index: 0;
}

.nav-pills>li>a,.nav>li.active>a,.nav-pills>li>a:hover,.nav>li.active>a:hover,.nav>li.current>a,.nav>li.current>a:hover {
	background-color: transparent;
}

.form-horizontal .control-label {
	text-align: initial;
}

.sidebar {
	min-height: 500px;
}

.sidebar .moduletable {
    margin-bottom: 5rem;
}

ul {
    padding: 0;
}

ul > li {
    list-style: none;
    padding: 0;
    margin-bottom: 1.6rem;
}

.sidebar .mod-articles-category-date {
    font-size: 1rem;
    margin-left: 5px;
    display: inline-block;
    font-family: 'Quicksand';
    font-weight: normal;
}

.sidebar ul.category-module li {
    font-weight: bold;
}

.sidebar ul.category-module li p.mod-articles-category-introtext {
    font-weight: normal;
}

.moduletable h3 {
    font-size: 1.8rem;
    margin: 0 0 2.5rem 0;
}

.moduletable p {
    font-family: 'Quicksand';
    font-style: normal;
}

/* PORTADA: ELEMENTOS DESTACADOS */
.item-leading {
	position: relative;
	z-index: 1;
	height: 248px;
	overflow: hidden;
}

.item-leading .item-image {
	height: 248px;
	width: 71.9493%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.item-leading .item-image::after {
	content: ' ';
	width: 50%;
	height: 100%;
	display: block;
	margin-left: 50%;
	background-color: rgba(239, 241, 245, 0.88);
}

.item-leading-content {
	position: absolute;
	right: 0;
	bottom: 3px;
	padding: 0 15px;
	width: 64.1838%;
}

.item-leading .page-header {
	border: none;
	padding: 0;
	margin: 0;
}

.item-leading .item-image {
	float: none;
	position: absolute;
    display: block;
	z-index: -1;
	top: 0;
	left: 0;
}

.item-leading p:last-of-type, .item p:last-of-type, .readmore {
	display: inline;
}

.item-leading:last-of-type {
	margin-bottom: 6rem;
}

/* RESTO DE ARTIGOS */
.item-leading, .item {
	margin-bottom: 2.5rem;
}

.item {
	position: relative;
	z-index: 1;
}

.item .page-header {
    padding: 0.8rem 0.8rem 0 0.8rem;
}

.item .item-image .page-header {
    position: absolute;
    width: 100%;
    bottom: 0;
	background-color: rgba(239, 241, 245, 0.88);
}

.item .page-header h2 {
    font-size: 2rem;
}

.item .item-intro-body {
    margin-top: 2rem;
    padding: 0 0.8rem;
}

.item .item-image {
	position: relative;
    display: block;
	top: 0;
	z-index: -1;
	height: 160px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-header {
	margin: 0;
	padding: 0;
	border: none;
}

h2 {
	margin: 0 0 1rem 0;
    color: #8b3434;
}

.item h2, .item-leading h2 {
    margin: 0 0 1rem 0;
}

.readmore {
	margin-left: 6px;
}

.btn-readmore {
    width: 17px;
    height: 15px;
    position: relative;
}

.btn-readmore img {
    position: absolute;
    max-width: none;
    top: 0.15rem;
    left: -4px;
}

.btn-readmore img:last-child {
    opacity: 0;
    animation: fadeout 300ms;
}

.btn-readmore img:last-child:hover {
    animation: pulsing 2s ease-in-out infinite;
}

@keyframes pulsing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    0% { opacity: 0.8; }
    100% { opacity: 0; }
}

.item-page .left {
    float: left;
    margin: 1.5rem;
}

.item-page .right {
    float: right;
    margin: 1.5rem;
}

.item-page .center {
    display: block;
    clear: both;
    margin: 3rem auto;
    text-align: center;
}

.caption {
    display: block;
    text-align: center;
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    font-style: italic;
    font-size: 1rem;
}

.caption em {
    font-style: normal;
}

/* footer */
.footer {
	position: relative;
	background-color: #32343c;
	padding: 3rem 0 0 0;
	top: -3px;
    min-height: 285px;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.7);
    position: relative;
    color: white;
    font-size: 0.8rem;
    display: block;
    overflow: hidden;
}

.footer .copyright {
    position: absolute;
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: #948a8a;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-ender {
    position: relative;
    z-index: 100;
    background-color: #32343c;
    height: 6px;
    margin-top: -3px !important;
}

.footer .menu-row {
    margin-bottom: 50px;
}

.gamepad-wrapper {
    position: relative;
    width: 100%;
    height: 211px;
}

.gamepad-wrapper img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    -webkit-filter: drop-shadow(0px 3px 6px rgba(10, 10, 10, 0.8));
    -ms-filter: drop-shadow(0px 3px 6px rgba(10, 10, 10, 0.8));
    filter: drop-shadow(0px 3px 6px rgba(10, 10, 10, 0.8));
    -webkit-transition: bottom 500ms ease-in, -webkit-filter 500ms ease-in, filter 500ms ease-in, -ms-filter 500ms ease-in;
    -ms-transition: bottom 500ms ease-in, -webkit-filter 500ms ease-in, filter 500ms ease-in, -ms-filter 500ms ease-in;
    transition: bottom 500ms ease-in, -webkit-filter 500ms ease-in, filter 500ms ease-in, -ms-filter 500ms ease-in;
}

.gamepad-wrapper img:hover {
    bottom: -2px;
    -webkit-filter: drop-shadow(0px 6px 9px rgba(10, 10, 10, 0.8));
    -ms-filter: drop-shadow(0px 6px 9px rgba(10, 10, 10, 0.8));
    filter: drop-shadow(0px 6px 9px rgba(10, 10, 10, 0.8));
}

.module-footer {
    font-weight: normal;
    color: white;
    font-size: 0.8rem;
    margin-top: 2rem;
}

.module-footer h3 {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    color: #948a8a;
}

.module-footer li, .module-footer li:hover {
    padding: 0;
    margin: 0.6rem 0;
    background: transparent;
}

.module-footer li a {
    padding: 0;
    color: white !important;
    font-size: 0.9rem !important;
    font-weight: normal !important;
    font-family: 'Quicksand';
}

.menu-footer li.active > a:hover,
.menu-footer li > a:hover  {
    color: rgb(201, 201, 201) !important;
    background-color: transparent;
}

/* artigos */
div[itemprop="articleBody"] p {
    margin: 0 0 2.5rem;
}

.item-page .page-header {
    margin-bottom: 3rem;
}

.page-header.with-image {
    position: relative;
    display: block;
    overflow: hidden;
}

.article-header-info-block.with-image {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.88);
}

.article-header-info-block h2 {
    margin-bottom: 1rem;
}

.article-header-info-block .introtext {
    font-style: italic;
}

.article-header-info-block .introtext em {
    font-style: normal;
}

.article-header-info-block dl {
    margin-bottom: 0;
    font-size: 0.9rem;
}

.tags.inline li {
    display: inline;
    margin: 0 0.5rem 0 0;
}

blockquote {
    position: relative;
    border: none;
    border-top: 1px solid rgba(51, 161, 217, 1);
    border-bottom: 1px solid rgba(51, 161, 217, 1);
    background-color: rgba(51, 161, 217, 0.05);
    max-width: 80%;
    margin: 2rem auto;
    font-size: 1.2rem;
    padding: 2rem 4rem 2rem 4rem;
}

blockquote::before {
    content: '\201C';
    position: absolute;
    top: -6rem;
    left: 1rem;
    font-size: 18rem;
    padding: 0;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.1);
}

blockquote .citation {
    margin-top: 1.5rem;
    display: block;
    text-align: right;
    font-style: italic;
}

blockquote .citation::before {
    content: '\2014'
}

/* pagination */
.pagination {
    width: 100%;
}

.pagination ul {
    display: block;
    text-align: center;
    width: 100%;
}

.pagination li {
    display: inline;
    margin: 0 0.3rem;
}

.pagination .pagination-prev {
    margin: 0;
    margin-right: 2rem;
}

.pagination .pagination-next {
    margin: 0;
    margin-left: 2rem;
}

.pagination .pagination-start {
    margin: 0;
    margin-right: 1rem;
}

.pagination .pagination-end {
    margin: 0;
    margin-left: 1rem;
}

.tooltip {
    display: none !important;
}

.pagenavcounter {
    display: none;
}

.nav-tabs, .nav-tabs>li.active>a, .nav-tabs>li>a, .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 100%;
    }

    .sidebar .moduletable {
        display: inline-block;
        float: left;
        max-width: 330px;
    }

    .sidebar .moduletable {
        margin: 0 30px 3rem 30px;
    }

    .module-footer {
        text-align: center;
    }

    .gamepad-wrapper {
        bottom: 5rem;
    }

    .sidebar {
        margin-top: 6rem;
    	min-height: 0px;
        padding: 1.5rem 15px 1.5rem 15px;
    }

    .vertical-separator {
        height: 1px !important;
        width: 75%;
        margin: 6rem auto !important;
        display: block;
        clear: both;
        float: none;
        box-shadow: 0 0 2px 1px rgba(51, 161, 217, 0.51);
    }
}

@media screen and (max-width: 970px) {
    body {
        overflow-x: hidden;
    }

    .main-column, .main-column-wrapper {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 931px) {
    .header .quote-wrapper {
        display: none;
    }
}

@media screen and (max-width: 604px) {
    .logo-right {
		display: none;
	}

    .header .clearfix {
        display: none;
    }

	.item-image {
		width: 100%;
	}

	.item-leading-content {
		width: 100%;
	}

	.header .main-column-wrapper {
		width: 100%;
		overflow: hidden;
	}

	.item-leading .item-image::after, .item-image::after {
        display: none;
	}

    .item-leading-content {
        background: rgba(239, 241, 245, 0.88);
        padding-top: 10px;
        padding-bottom: 8px;
        bottom: 0px;
    }

	.item {
		position: relative;
		z-index: 1;
		padding: 0 15px;
	}

	.item-image {
		width: 100% !important;
	}

    .item-page img {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .left, .right, .center {
        display: block !important;
        clear: both !important;
        float: none !important;
        margin: 1rem auto;
        text-align: center;
    }
}
